<!doctype html>
<html lang="en">
<head>
<meta charset="utf-8">

<link rel="stylesheet"  href="bootstrap/css/bootstrap.css">

<title>Pacrat | URI Housing and Residential Life</title>
</head>

<body>

<h1>Pacrat Mailroom Management</h1>

<div class="row">

	<div class="span3">{% block sidebar %}Default Sidebar{% endblock %}</div>
    <div class="span9">{% block maincontent %}Default MainContent %}</div>

</div>

<script src="http://code.jquery.com/jquery-latest.js"></script>
<script src="bootstrap/js/bootstrap.js"></script>
</body>
</html>
